
<body>



header, footer, main,{
    display: block;
}

header	{
		position: top;
		margin: auto;
		text-align:center;
		width: 96%;
		font-size:25px;
		color: black;
		}
		
	
main {
	margin: auto;
	border: solid;  border-color: pink;
	width: 96%;
    padding:10px;
	font-size:16px;
	background-color:#FFFFE0;
	
	}
	
	
footer {
    
	margin: auto;
	padding-left: 10px;
	width: 96%;
	color:black;
	height:18px;
	font-size:12px;
    text-align:left;
	clear: both;

	}
	
	/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:2px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background:#efefef;
}
	
body {font-family: "Verdana", Geneva, sans-serif; font-size: 100%;}
	
h1	{}


	
h2	{
	font-size: 18px;
	color: #0000ff;
	text-align: center;
	}
		
h3	{text-align:left;
	font-size:18px;
	color:black;}		
		
h4	{
	font-size: 18px;
	text-align: left;
	}	

h5	{font-style:bold;
	font-size: 14px;}	
		
ul 	{
	list-style-type: none;
	font-size: 16px;
	color: #0000ff;
    margin: 0;
    padding: 0;
	text-align: center;
	font-style:bold;
	
	}
	
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

ul, li{list-style-type: none;}	






	
</body>